@use "./constants.module.scss" as c; 

.content {
  margin-right: 10px;
  margin-left: 9%;
  color: c.$primaryColor;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

p {
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
  white-space: pre-line;
}

h2 {
  font-size: 28px;
  font-weight: 650;
}

.lists {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}

hr {
  margin: 40px 0px;
}
